<app-topbar title="Ogłoszenia"></app-topbar>
<div>
  <div class="olgoszenia">
    <div class="oglosz1">
      <img src="/assets/img/ogloszenie1.jpg" class="oglo1">
      <span>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</span>
      <p>15.05.2022</p>
      <img src="/assets/img/piłka.jpg" class="autor">
      <p class="wpis1">Dominik Najder</p>
    </div>
    <div class="oglosz2">
      <img src="/assets/img/pzpn.png" class="oglo2">
      <span>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</span>
      <p>30.06.2022</p>
      <img src="/assets/img/piłka.jpg" class="autor">
      <p class="wpis1">Dominik Najder</p>
    </div>
    <div class="oglosz3">
      <img src="/assets/img/mzpn.png" class="oglo3">
      <span>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</span>
      <p>18.07.2022</p>
      <img src="/assets/img/piłka.jpg" class="autor">
      <p class="wpis1">Dominik Najder</p>
    </div>
    <div class="oglosz4">
      <img src="/assets/img/kolegium.png" class="oglo4">
      <span>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</span>
      <p>12.09.2022</p>
      <img src="/assets/img/piłka.jpg" class="autor">
      <p class="wpis1">Dominik Najder</p>
    </div>
  </div>
</div>