<app-topbar title="Twoje konto"></app-topbar>
<div>
    <marquee direction="left">
        <h2>Tutaj możesz edytować i zmieniać swoje dane do konta</h2>
    </marquee>
    
    <div class="login">
        <span>Login</span>
        <input disabled="disabled">
    </div>
    <div class="haslo">
        <span>Hasło</span>
        <input class="haslo" type="password">
        <button class="odkryj">Pokaż hasło</button>
    </div>
    <div class="edycja_hasla">
        <span>Zmień hasło</span>
        <input class="edycja_hasla" type="password">
        <button class="zapisz">Zapisz</button>
        <button class="odkryj">Pokaż hasło</button>
    </div>
    <div class="edycja_maila">
        <span>Zmień adres e-mail</span>
        <input class="edycja_maila">
        <button class="zapisz">Zapisz</button>
    </div>
    <img src="/assets/img/moje_konto.jpg" class="konto">
</div>


