<app-topbar title="Twoje Oceny"></app-topbar>
<h2>Oceny sezon 2022/2023</h2>
<div>
  <label><b>Data</b></label>
</div>
<div class="mecz">
  <label class="labelmecz"><b>Mecze</b></label>
</div>
<div class="rola">
  <label><b>Rola</b></label>
</div>
<div class="wynik">
  <label><b>Wynik</b></label>
</div>
<div class="ocena">
  <label><b>Ocena</b></label>
</div>
<input type="date"><br>
<input type="date"><br>
<input type="date"><br>
<input type="date"><br>
<input type="date"><br>
<input type="date"><br>
<input type="date"><br>
<input type="date"><br>
<input type="date"><br>
<input type="date">
<div class="mecze">
  <input type="tekst" class="mecze">
  <input type="tekst" class="mecze">
  <input type="tekst" class="mecze">
  <input type="tekst" class="mecze">
  <input type="tekst" class="mecze">
  <input type="tekst" class="mecze">
  <input type="tekst" class="mecze">
  <input type="tekst" class="mecze">
  <input type="tekst" class="mecze">
  <input type="tekst" class="mecze">
</div>
<div class="role">
  <input class="rola" type="text">
  <input class="rola" type="text">
  <input class="rola" type="text">
  <input class="rola" type="text">
  <input class="rola" type="text">
  <input class="rola" type="text">
  <input class="rola" type="text">
  <input class="rola" type="text">
  <input class="rola" type="text">
  <input class="rola" type="text">
</div>
<div class="wyniki">
  <input class="wynik" type="text">
  <input class="wynik" type="text">
  <input class="wynik" type="text">
  <input class="wynik" type="text">
  <input class="wynik" type="text">
  <input class="wynik" type="text">
  <input class="wynik" type="text">
  <input class="wynik" type="text">
  <input class="wynik" type="text">
  <input class="wynik" type="text">
</div>
<div class="oceny">
  <input class="ocena" type="text">
  <input class="ocena" type="text">
  <input class="ocena" type="text">
  <input class="ocena" type="text">
  <input class="ocena" type="text">
  <input class="ocena" type="text">
  <input class="ocena" type="text">
  <input class="ocena" type="text">
  <input class="ocena" type="text">
  <input class="ocena" type="text">
</div>
