<app-topbar title="Finanse"></app-topbar>
<h2>Finanse za sezon 2022/2023</h2>
<div>
    <label><b><p>Numer rachunku</p></b></label>
</div>
<div class="kwota">
    <label><b><p>Kwota</p></b></label>
</div>
<div class="data">
    <label><b><p>Data</p></b></label>
</div>
<div class="uregulowane">
    <label><b><p>Uregulowane</p></b></label>
</div>
    <input type="number"><br>
    <input type="number"><br>
    <input type="number"><br>
    <input type="number"><br>
    <input type="number"><br>
    <input type="number"><br>
    <input type="number"><br>
    <input type="number"><br>
    <input type="number"><br>
    <input type="number">

<div class="kwoty">
    <input type="text" class="kwota">
    <input type="text" class="kwota">
    <input type="text" class="kwota">
    <input type="text" class="kwota">
    <input type="text" class="kwota">
    <input type="text" class="kwota">
    <input type="text" class="kwota">
    <input type="text" class="kwota">
    <input type="text" class="kwota">
    <input type="text" class="kwota">
</div>
<div class="daty">
    <input class="data" type="date">
    <input class="data" type="date">
    <input class="data" type="date">
    <input class="data" type="date">
    <input class="data" type="date">
    <input class="data" type="date">
    <input class="data" type="date">
    <input class="data" type="date">
    <input class="data" type="date">
    <input class="data" type="date">
</div>
<div class="uregul">
    <input class="uregulowane" type="text">
    <input class="uregulowane" type="text">
    <input class="uregulowane" type="text">
    <input class="uregulowane" type="text">
    <input class="uregulowane" type="text">
    <input class="uregulowane" type="text">
    <input class="uregulowane" type="text">
    <input class="uregulowane" type="text">
    <input class="uregulowane" type="text">
    <input class="uregulowane" type="text">
</div>
<img src="/assets/img/Finanse.jpg" class="banknot">