<div class="startowa">
  <img src="/assets/img/start.jpg" class="startowa"/><p>Witaj ... !</p>
</div>
<div>
  <div class="pomocne_linki">
    <h2>Pomocne Linki</h2>
    <a href="https://www.laczynaspilka.pl/">Łączy Nas Piłka</a><br>
    <a href="https://pzpn.pl/">Polski Związek Piłki Nożnej</a><br>
    <a href="https://www.mzpnkrakow.pl/">Małopolski Związek Piłki Nożnej</a>
  </div>
  <div class="blad">
    <h2>Błąd?</h2>
    <span>Znalazłeś błąd w aplikacji?</span><br>
    <div class="napis">
      <span>Napisz: pomoc@referee.pl</span>
    </div>
  </div>
</div>