<app-topbar title="Materiały Szkoleniowe"></app-topbar>
<div>
  <img src="/assets/img/dokumenty.png">
  <label>
    <a class="btn" href="http://ksmzpn.pl/przepisy-gry-2022-2023/">
      Kliknij
    </a>
    <p><b>Przepisy gry 2022/2023</b></p>
  </label>
  <br>
  <img src="/assets/img/dokumenty.png" class="dok1">
  <label>
    <a class="btn" href="https://pzpn.pl/federacja/sedziowie/materialy-szkoleniowe">
      Kliknij
    </a>
    <p><b>Materiały szkoleniowe i dokumenty</b></p>
  </label><br>
  <img src="/assets/img/dokumenty.png" class="dok2">
  <label>
    <a class="btn" href="https://junior.weszlo.com/2019/02/07/zmiany-w-unifikacji-rozgrywek/">
      Kliknij
    </a>
    <p><b>Unifikacja Juniorskich rozgrywek</b></p>
  </label>
</div>
<img src="/assets/img/kurs.jpg" class="kurs">
